{% extends "frontend/base.html" %}


{% block content %}
<div id="usecases">
<ul>
<li>How many distinct words are on this page?</li>
<li>What are the most frequent words in the NYT Business section?</li>
<li>I want to make a dynamically updating tag cloud of my employees' status
reports</li> 
<li>Tag cloud of all my RSS feeds over time, updated with each new article</li>
<li>What topic is this tweet most similar to?</li>
<li>How are the most frequent words on twitter changing over time?</li>
<li>Was this speech given by Obama or Bush?</li>
<li>What words appear most frequently in the edits to a given Wikipedia page?</li>
<li>WHat are the most frequent terms in all courses on p2pu.org</li>
</ul>
</div>

{% endblock %}