{% extends "frontend/base.html" %}

{% block welcome %}
<div id="pageheader">
    <div class="container">
        <div id="title"><h1>Language Analysis Tools & APIs</h1></div>
        <div id="subtitle"><h3>WordAPI is a standalone, restful API offering
        document and topic analysis for the web</h3></div> 
<!--  <div class="button"> Get Started </div> -->
    </div>
</div>
{% endblock %}

{% block content %}

<div id="frontpage_overview">
  <a href="document/new"><div class="overview_block">    
    <div class="overview_image"><img src="/media/images/wired.png"></div>
    <div class="overview_title"><h3>Analyze Documents</h3></div>
    <div class="overview_text"></div>
  </div></a>
  <a href="collection/new"><div class="overview_block">
    <div class="overview_image"><img src="/media/images/briefcase.png"></div>
    <div class="overview_title"><h3>Build Collections</h3></div>
    <div class="overview_text"></div>
  </div></a>
  <a href="topic/new"><div class="overview_block">
    <div class="overview_image"><img src="/media/images/process.png"></div>
    <div class="overview_title"><h3>Track a Topic</h3></div>
    <div class="overview_text"></div>
  </div></a>
  <a href="api"><div class="overview_block">  
    <div class="overview_image"><img src="/media/images/puzzle.png"></div>
    <div class="overview_title"><h3>Use the API</h3></div>
    <div class="overview_text"></div>
  </div></a>
</div>



<div class="clear"></div>


{% endblock %}
