{% extends "frontend/base.html" %}

{% block custom_js %}
{% endblock %}
function toggle_option(div_id) {
    var url_input = document.getElementById("url_input");
    var file_input = document.getElementById("file_input");
    var text_input = document.getElementById("text_input");

    var inputs = ['url_input', 
    for (var i in inputs) {
        if i == div_id: 
    }

}

{% block content %}

<form action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
  <div id="step">
    <div id="step_option">
      <div class="step_option_image">
        <img src="/media/images/process.png">
      </div>
      <div class="step_option_title">
        {{ tagcloud_form.url.label }}
      </div>
      <div class="step_option_help">
        {{ tagcloud_form.url.help_text }}
      </div>
      <div class="step_option_input">
        {{ tagcloud_form.url }}
      </div>
    </div>
    <div id="step_option">
      <div class="step_option_image">
        <img src="/media/images/process.png">
      </div>
      <div class="step_option_title">
        {{ tagcloud_form.file.label }}
      </div>
      <div class="step_option_help">
        {{ tagcloud_form.file.help_text }}
      </div>
      <div class="step_option_input">
        {{ tagcloud_form.file }}
      </div>
    </div>
    <div class="clear"></div>
    <div id="step_option">
      <div class="step_option_image">
        <img src="/media/images/process.png">
      </div>
      <div class="step_option_title">
        {{ tagcloud_form.body.label }}
      </div>
      <div class="step_option_help">
        {{ tagcloud_form.body.help_text }}
      </div>
      <div class="step_option_input">
        {{ tagcloud_form.body }} 
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <div id="step">
   <div id="step_title">
     Step 2: Customize Tagcloud
   </div>
   <div id="step_option">
     <div class="step_option_title">
       Tag Cloud Size
     </div>
     <br>
     <div class="step_option_input">
        {{ tagcloud_form.width.label }}: {{ tagcloud_form.width }}
     </div>
     <div class="step_option_help">
       {{ tagcloud_form.width.help_text }}
     </div>
     <br>
     <div class="step_option_input">
       {{ tagcloud_form.height.label }}: {{ tagcloud_form.height }}
     </div>
     <div class="step_option_help">
       {{ tagcloud_form.height.help_text }}
     </div>
    </div>
    <div id="step_option">
      <div class="step_option_title">
        Text Size
      </div>
      <br>
      <div class="step_option_input">
         {{ tagcloud_form.max_size.label }}: {{ tagcloud_form.max_size }}
      </div>
      <div class="step_option_help">
        {{ tagcloud_form.max_size.help_text }}
      </div>
      <br>
      <div class="step_option_input">
        {{ tagcloud_form.min_size.label }}: {{ tagcloud_form.min_size }}
      </div>
      <div class="step_option_help">
        {{ tagcloud_form.min_size.help_text }}
      </div>
      <div class="step_option_input">
        {{ tagcloud_form.max_words.label }}: {{ tagcloud_form.max_words }}
      </div>
      <div class="step_option_help">
        {{ tagcloud_form.max_words.help_text }}
      </div>
      </div>
     <div id="step_option">
       <div class="step_option_title">
         Text Color
       </div>
       <br>
       <div class="step_option_input">
          {{ tagcloud_form.start_color.label }}: {{ tagcloud_form.start_color }}
       </div>
       <div class="step_option_help">
         {{ tagcloud_form.start_color.help_text }}
       </div>
       <br>
       <div class="step_option_input">
         {{ tagcloud_form.end_color.label }}: {{ tagcloud_form.end_color }}
       </div>
       <div class="step_option_help">
         {{ tagcloud_form.end_color.help_text }}
       </div>
       <br>
       <div class="step_option_input">
         {{ tagcloud_form.color_steps.label }}: {{ tagcloud_form.color_steps }}
       </div>
       <div class="step_option_help">
         {{ tagcloud_form.color_steps.help_text }}
       </div>
      </div>
   </div>
  <div id="step">
   <div id="step_title">
     Step 3: Create Tagcloud
   </div>
   <input type="submit" value="Create Tag Cloud">
   
  </div>


<form action="" method="post">
{% csrf_token %}

<input type="submit" value="Create Tag Cloud">
</form>

<script>
function hide_initial() {
    var url_input = document.getElementById("url_input");
    var file_input = document.getElementById("file_input");
    var text_input = document.getElementById("text_input");
    url_input.style.display="none";
    file_input.style.display="none";
    text_input.style.display="none";
}
$(document).ready(hide_initial());


</script>
{% endblock %}
