{% extends "frontend/base.html" %}


{% block content %}


<h2>Why is it different?</h2>

wordle doesn't have an api 
wordle isn't open web

<h2>How can I use it?</h2>

what are people saying about your project or company?

Classify submission to an RFP and route them to the right people

compare the difference between the speeches of your top two candidates

the difference between fox and cnn articles



<h2> summary </h2>

<p>The wordAPI is a standalone, restful interface offering word and topic
analysis capabilities.  This includes but is not limited to the fearsomely
awesome TagCloud API.</p>

<p>In addition, check out Word API's "collections" service. A collection is a set
of natural language source documents that you register with word API. The
collection can be static or dynamic. Word API offers several
(language-oriented) tools to study these collections, including a dashboard for
ongoing statistics such as ngram frequency counts, entropy, unusual phrases,
topic analyzers, and classifiers for topic and similarity. Once you define a
collection, you can check up on it by visiting its dashboard, or access any of
the statistics or classifier capabilities via the API.</p>

<p>Excited? <a href="">Get started</a> or <a href="">read more</a>.</p>


{% endblock %}
