<html>
<head>
{% block custom_style %}
{% endblock %}

<link rel="stylesheet" type="text/css" href="/media/style.css">
<title>WordAPI{% block page_title %}{% endblock %}</title>

</head>

<body>
<div id="body">

  <div id="siteheader">   
    <div class="container">  
      <div id="logo"> Word | API</div>
      <div id="links">Show me How | Gallery and Examples | Learn More | API | Log In</div>
    </div>
  </div>
  
  <div id="pageheader">
    <div class="container">
      {% block header %}
      {% endblock %}
    </div>
  </div>

  <div id="main_content">
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </div>
  
  <div id="sitefooter">
    <div class="container">
      Another Tinyhack by @jessykate and @schingler
    </div>
  </div>

</div>
</body>
</html>
