<html>
<head>
{% block custom_style %}
{% endblock %}

<link rel="stylesheet" type="text/css" href="/media/style.css">
<script type="text/javascript" src="/media/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/media/js/jquery-ui-1.8.4.custom.min.js"></script>
<title>WordAPI{% block page_title %}{% endblock %}</title>
{% block custom_js %}
{% endblock %}
</head>

<body>
<div id="body">

  <div id="siteheader">   
    <div class="container">  
      <div id="logo"> Word | API</div>
      <div id="links"> <a href="/learn">Learn More</a> | <a href="/create">Create</a> | <a href="/examples">Gallery and Examples</a> | <a href="/browse">Browse</a> | <a href="/api">API</a> | <a href="/login">Log In</a></div>
    </div>
  </div>
  
{% block welcome %}
{% endblock %}

  <div id="main_content">
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </div>
  
  <div id="sitefooter">
    <div class="container">
      Another Tinyhack by @jessykate and @schingler
    </div>
  </div>

</div>
</body>
</html>
