<html>
<head>
{% block custom_style %}
{% endblock %}

<link  href="//fonts.googleapis.com/css?family=Crimson+Text:regular&subset=latin" rel="stylesheet" type="text/css" >
<link  href="//fonts.googleapis.com/css?family=IM+Fell+Great+Primer+SC:regular&subset=latin" rel="stylesheet" type="text/css" >
<link  href="//fonts.googleapis.com/css?family=Josefin+Sans+Std+Light:regular&subset=latin" rel="stylesheet" type="text/css" >
<link rel="stylesheet" type="text/css" href="/media/style.css">
<script type="text/javascript" src="/media/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/media/js/jquery-ui-1.8.4.custom.min.js"></script>
<title>WordAPI{% block page_title %}{% endblock %}</title>
{% block custom_js %}
{% endblock %}
</head>

<body>
    <div id="siteheader">   
      <div class="container">  
        <div id="logo" onclick="location.href='{{ home_page }}';" style="cursor:pointer;">Word | API
        </div>
        <div id="headernav"> <a href="/learn">Learn More</a> <a href="/create">Create</a> <a href="/examples">Gallery and Examples</a> <a href="/browse">Browse</a> <a href="/api">API</a> <a href="/login">Log In</a></div>
        </div>
  </div>

  
{% block welcome %}
{% endblock %}

  <div id="main_content">
    <div class="main_container">
      {% block content %}
      {% endblock %}
    </div>
  </div>
  
  <div id="sitefooter">
    <div class="container">
      <a href="http://tinyhax.com">notso.Tinyhax</a> by <a href="http://twitter.com/jessykate">@jessykate</a> and <a href="http://twitter.com/schingler">@schingler</a>
    </div>
  </div>

</body>
</html>
