{% extends "frontend/base.html" %}


{% block content %}

<div id="content">

<a href="/document/new" class="block-link"><div class="create">
<h2 class="create-title">Analyze a Document</h2>
Analyze a webpage, document, or feed. A good way to get your feet wet. 
</div></a>

<a href="/topic/new" class="block-link"><div class="create">
<h2 class="create-title">Track a Topic</h2>
Track words, statistics, and patterns in sources with a common theme 
</div></a>

<a href="/collection/new" class="block-link"><div class="create">
<h2 class="create-title">Build Collections</h2>
Bundle together multiple source documents, and apply learning algorithms 
</div></a>

</div>

<div id="sidebar">
<div class="glossary-term">Source Document</div>
<div class="glossary-description">A source document is...</div>
<div class="glossary-term">Topic</div>
<div class="glossary-description">A Topic is..</div>
<div class="glossary-term">Collection</div>
<div class="glossary-description">A collection is...</div>
<div class="glossary-term">Learning Algorithm</div>
<div class="glossary-description">A learning algorithm is...</div>
<div class="glossary-term">Static</div>
<div class="glossary-description">A static source is...</div>
</div>

<div class="clear"></div>
{% endblock %}
