{% extends "frontend/base.html" %}

{% block welcome %}
<div id="pageheader">
    <div class="container">
        <div id="title">Build Language Analysis Apps</div>
        <div id="subtitle">WordAPI is a standalone, restful API offering
        document and topic analysis for the web</div> <div class="button"> Get
        Started </div>
    </div>
</div>
{% endblock %}

{% block content %}

<h3>A few tasties for your word consuming pleasure:</h3>

<div id="frontpage_overview">
<p>The wordAPI is a standalone, restful interface offering word and topic
analysis capabilities.  This includes but is not limited to the fearsomely
awesome TagCloud API.</p>

<p>In addition, check out Word API's "collections" service. A collection is a set
of natural language source documents that you register with word API. The
collection can be static or dynamic. Word API offers several
(language-oriented) tools to study these collections, including a dashboard for
ongoing statistics such as ngram frequency counts, entropy, unusual phrases,
topic analyzers, and classifiers for topic and similarity. Once you define a
collection, you can check up on it by visiting its dashboard, or access any of
the statistics or classifier capabilities via the API.</p>

<p>Excited? <a href="">Get started</a> or <a href="">read more</a>.</p>

</div>

<div id="sidebar">
<div id="usecases">
<ul>
<li>How many distinct words are on this page?</li>
<li>What are the most frequent words in the NYT Business section?</li>
<li>I want to make a dynamically updating tag cloud of my employees' status
reports</li> 
<li>Tag cloud of all my RSS feeds over time, updated with each new article</li>
<li>What topic is this tweet most similar to?</li>
<li>How are the most frequent words on twitter changing over time?</li>
<li>Was this speech given by Obama or Bush?</li>
<li>What words appear most frequently in the edits to a given Wikipedia page?</li>
<li>WHat are the most frequent terms in all courses on p2pu.org</li>
</ul>
</div>
</div>

<div class="clear"></div>

<h2>Available Methods</h2>

<h3>Frequency - URL</h3>

Supported Requests: GET

<h3>Frequency - Request</h3>

Supported Requests: GET, POST

<h3>Tokenize - URL </h3>

Supported Requests: GET

<h3>Tokenize - Request </h3>

Supported Requests: GET, POST

<h3>TagCloud - Request </h3>

<p>Supported Requests: GET, POST</p>

<a href="/tagcloud">Details and try it!</a>

{% endblock %}
