{% extends "frontend/base.html" %}

{% block welcome %}
<div id="pageheader">
    <div class="container">
        <div id="title">Build Language Analysis Apps</div>
        <div id="subtitle">WordAPI is a standalone, restful API offering
        document and topic analysis for the web</div> 
        <div class="button"> Get Started </div>
    </div>
</div>
{% endblock %}

{% block content %}

<div id="frontpage_overview">
  <div class="overview_block">
    <div class="overview_image"></div>
    <div class="overview_title">track a topic</div>
    <div class="overview_text"></div>
  </div>
  <div class="overview_block">
    <div class="overview_image"></div>
    <div class="overview_title">build collections</div>
    <div class="overview_text"></div>
  </div>
  <div class="overview_block">    
    <div class="overview_image"></div>
    <div class="overview_title">analyze documents</div>
    <div class="overview_text"></div>
  </div>
  <div class="overview_block">  
    <div class="overview_image"></div>
    <div class="overview_title">use the API</div>
    <div class="overview_text"></div>
  </div>
</div>



<div class="clear"></div>


{% endblock %}
