body {
    font-family: arial, verdana;
    color: #666666;
    width: 80%;
    margin: auto;
}

#cloudtitle {
    text-align: center;
    font-size: 120%;
}

#cloudwrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 500px;
}

#cloudinfo {
    margin-top: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    text-align: right;
    font-size: 80%;
    background: #CCCCCC;
    color: #999999;
}


