body {
    font-family: arial, verdana;
    font-size: 120%;
    width: 100%;
    margin: auto;
    color: #333333;
}

.container {
    margin: 0px auto; 
    width:1000px;
}

.main_container {
    margin: 0px auto; 
    padding: 20px;
    width:1000px;
    background: #ffffff;
}


#siteheader {
    height: 70px;
    color: #ffffff;
    width: 100%;
    background: -webkit-gradient(
    linear,
        left bottom,
        left top,
        color-stop(0, #3e779d),
        color-stop(1, #3e779d)
    );
    background: -moz-linear-gradient(
        center bottom,
        #3e779d 0%,
        #3e779d 100%
    );
    border-bottom: 2px solid #96d1f8;
    
} 

#logo {
    float: left;
    font-size: 40px;
    font-style: italic;
    margin: 10px;
}

#links {
    float: right;
    margin-top: 25px;
}

#pageheader {
    height: 350px;
    font-color: #404040;
    background: -webkit-gradient(
    linear,
        left bottom,
        left top,
        color-stop(1, #65a9d7),
        color-stop(0, #ffffff   )
    );
    background: -moz-linear-gradient(
        center bottom,
        #65a9d7 100%,
        #ffffff 0%
    );    
    
}

.button {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   padding: 14px 28px;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 22px;
   text-decoration: none;
   vertical-align: middle;
   width: 115px;
   }
   
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }

.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

#title {
    font-size: 55px;
    font-weight: bold; 
    padding-top: 30px;   
}

#subtitle {
    font-size: 25px;
    width: 400px;
    margin-top:40px;
    margin-bottom:40px;
}

#main_content {
    padding: 15px;
    background: #eeeeee;
}


/*  TagCloud input */

#step {
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

#step_title {
    font-size: 36px;
    margin-bottom: 10px;
}

#step_option {
    width: 300px;
    margin-left:15px;
    margin-right:15px;
    float:left;
    
}


.step_option_image {
    width: 75px;
    height: 75px;
    float: left;
    
}

.step_option_title {
    width: 225px;
    float: left;
    font-size: 28px;
    
}

.step_option_help {
    width: 225px;
    float: left;
    height: 50px;
    font-size: 12px;
    
}

.step_option_input {
    width: 225px;
    float: left;
    
}

#tagcloud_wrapper {
    background: #ffffff;
    padding-top:30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

#infobox {
    margin-top: 20px;
    padding-top: 20px;
    color: #999999;
    background: #404040;
}

#tagurl {
        text-align: center;
}

#tagurl a {
    font-size: 90%;
    font-variant:small-caps;
    color: #bbbbbb;
    text-decoration: none;
}

#frontpage_overview {
    margin: 50px;
}

.overview_block {
    width: 400px;
    height: 150px;
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 25px;
    margin-right: 25px;
}

.overview_image {
    width: 100px;
    height: 70px;
    float: left;
}

.overview_title {
    width: 300px;
    float: left;
    font-size: 30px;    
}
.overview_text {
    width: 300px;
    float: left;
    height: 115px;
    font-size: 12px;    
}

#sidebar {
    float:right;
    width: 25%;
}

#content {
    float: left;
    width: 70%;
}

.clear {
    clear: both; 
}

#infobox {
    padding-left: 15px;
    padding-right: 15px;
}

#save-box {
    background: red;
}

#save-form {
    padding: 10px;
    font-size: 70%;
}

#update-type {
    margin-top: 10px;
    border: none;
}

.ui-dialog {
    background: #666666;
}

#sitefooter {
    height: 120px;
    color: #ffffff;
    width: 100%;
    background: -webkit-gradient(
    linear,
        left bottom,
        left top,
        color-stop(0, #3e779d),
        color-stop(1, #3e779d)
    );
    background: -moz-linear-gradient(
        center bottom,
        #3e779d 0%,
        #3e779d 100%
    );
    border-top: 2px solid #96d1f8;
    font-size:12px;
}

.create:hover {
       background: red;
}

.create {
    background: none;   
}

a.block-link {
    text-decoration: none;
    color: #333333;
}

