{% extends "frontend/base.html" %}

{% block custom_style %}
{{ cloud.style|safe }}
{% endblock %}

{% block custom_include %}
<link rel="stylesheet" media="screen" type="text/css" href="/media/colorpicker.css" />
<script type="text/javascript" src="/media/js/colorpicker.js"></script>
{% endblock %}
{% block page_title %} - TagCloud{% endblock %}

{% block custom_js %}
<script type="text/javascript">
$(document).ready(function() {

		$('<div />', {id: 'hidden-resizer'}).appendTo(document.body);
		//$('<div />', {id: 'hidden-resizer'}).hide().appendTo(document.body);
		var resizer = $("#hidden-resizer");
		resizer.html( '{{ cloud.body|safe }} <div class="clearboth"></div>' );
		var tgcl = $("#tagcloud");
		// need to specify one of the dimensions
		tgcl.width( {{cloud.width}} );

		// log the desired cloud dimensions (this is the target)
		console.log("desired cloud dimensions");
		console.log( {{cloud.width}} );
		console.log( {{cloud.height}} );
		
		// set font size explicitly so we can modify it
		tgcl.css("font-size", "10px");

		alert("resizing...");
		var count = 0;
		while ( tgcl.height() > {{ cloud.height }} ) {
			var sz = parseInt(tgcl.css("font-size"));
			console.log(sz);
			tgcl.css("font-size", sz - 1);
			console.log("tagcloud info now:");
			console.log(tgcl.width());
			console.log(tgcl.height());
			console.log(tgcl.css("font-size"));
		} 
		/* inject the resized tagcloud back into the page where it belongs.
		   remove the hidden resizer element since it is no longer needed and
		   #tagcloud is an id and should be unique on the page. */
		var tgcl_html = resizer.html();
		resizer.remove();
		$("#tagcloud_wrapper").html(tgcl_html);

		console.log("tagcloud dimensions are now:");
		console.log($("#tagcloud").width());
		console.log($("#tagcloud").height());

		/*
    $("#save-box").dialog({
        autoOpen: false,
        width: 350,
        model: true,
        buttons : {
            'Create!' : function() { 
                // check validity of arguments
                // submit the form
                $('#save-form').submit();
            },
            'Cancel' : function() {
                $(this).dialog("close");
            }
        }, 
        close: function() {
            allFields.val('');
        }
    });
    $("#save-cloud").button().click(function() {
        $("#save-box").dialog("open");
		});
		 */

});

$('#id_start_color, #id_end_color').ColorPicker({
	onSubmit: function(hsb, hex, rgb, el) {
		$(el).val(hex);
		$(el).ColorPickerHide();
	},
	onBeforeShow: function () {
		$(this).ColorPickerSetColor(this.value);
	}
})
.bind('keyup', function(){
	$(this).ColorPickerSetColor(this.value);
});



</script>
{% endblock %}

{% block content %}
<div id="save-box">
<form id="save-form" action="save" method="POST">
{% csrf_token %}
<label for="name">Name your cloud (optional)</label>
<input type="text" name="name"><br>
<fieldset id="update-type">
<input type="radio" name="update" value="static" checked="yes">Static
<input type="radio" name="update" value="dynamic">Dynamic<br>
<p>A static cloud stays the same as you see it right now. A dynamic cloud will
update every time you visit it.</p> 
</fieldset>
<input type="hidden" name="cloud_id" value="{{ cloud_id }}">
</form>
</div>

<div id="tagcloud_controls">
  <h4>Themes</h4>
  <h4>Color</h4>
  {{ update_form.start_color.label }}: <input type="text" maxlength="6" size="6" id="id_start_color" value="00ff00" />
  {{ update_form.end_color.label }}: <input type="text" maxlength="6" size="6" id="id_end_color" value="0000ff" />
  {{ update_form.color_steps.label }}: {{ update_form.color_steps }}
      
  <h4>{{ update_form.max_words.label }}: <input type="range"  min="0" max="{{ cloud.metadata.total_tags }}" /></h3>
  <h4 class="size-selector">Size:</h4>
    <label><input class="radio" type="radio" name="size" value="240x180"> Small</label>
    <label><input class="radio" type="radio" name="size" value="500x375"> Medium</label>
    <label><input class="radio" type="radio" name="size" value="1024x768"> Large</label>
  
  <h4>Custom Stop Words</h4>
</div>

<div id="tagcloud_wrapper">
</div>

<div class="clear">
</div>

<div id="infobox">
Generated by <a href="{{home_page}}">WordAPI</a>
Created {{ cloud.utc_created|date:"D M d, Y" }}. 
<a href="{{ cloud.metadata.short_url }}">Short Url</a>
<a href="">Embed</a>
<a href="{{home_page}}/document/new">Create your own</a>

</div>

{% endblock %}
