{% extends "frontend/base.html" %}

{% block welcome %}
<div id="pageheader">
    <div class="container">
        <div id="title"><h1>Language Analysis Tools & APIs</h1></div>
        <div id="subtitle"><h3>Find patterns in Communities and Content</h3></div> 
<!--  <div class="button"> Get Started </div> -->
    </div>
</div>
{% endblock %}

{% block content %}

<div id="frontpage_overview">
  <a href="document/new"><div class="overview_block">    
    <img src="/media/images/wired.png">
    <h3>Analyze Documents</h3>
    <div class="detail-text">Create and customize dynamic tag clouds of data from a URL, file, or text.</div>
  </div></a>
  <a href="collection/new"><div class="overview_block">
    <img src="/media/images/briefcase.png">
    <h3>Build Collections</h3>
    <div class="detail-text">Train, aggregate, and share collections of custom topics.</div>
  </div></a>
  <a href="topic/new"><div class="overview_block">
    <img src="/media/images/process.png">
    <h3>Track a Topic</h3>
    <div class="detail-text"></div>
  </div></a>
  <a href="api"><div class="overview_block">  
    <img src="/media/images/puzzle.png">
    <h3>Use the API</h3>
    <div class="detail-text">Use the standalone, restful API for your own document and topic analysis.
    </div>
  </div></a>
</div>



<div class="clear"></div>


{% endblock %}
