{% extends "frontend/base.html" %}

{% block custom_include %}
<link rel="stylesheet" media="screen" type="text/css" href="/media/colorpicker.css" />
<script type="text/javascript" src="/media/js/colorpicker.js"></script>
{% endblock %}

{% block custom_js %}
<script type="text/javascript">
window.selectIngest = function(clickedSelector, ingestInputToShow){
  // select the correct ingest-selector
  var ingestSelectors = jQuery('#ingest-selector-container').children('a.ingest-selector');
  jQuery.each(ingestSelectors, function(i, currSelector){
    if (currSelector == clickedSelector) {
      jQuery(currSelector).addClass("selected");
    } else {
      jQuery(currSelector).removeClass("selected");
    }
  });
  // Show the correct input
  var ingestInputs = ['#url-ingest', '#file-ingest', '#text-ingest'];
  jQuery.each(ingestInputs, function(i, currIngestInput){
    var shouldShow = ingestInputToShow == currIngestInput;
    jQuery(currIngestInput).toggle(shouldShow);
  });
};

$('#id_start_color, #id_end_color').ColorPicker({
	onSubmit: function(hsb, hex, rgb, el) {
		$(el).val(hex);
		$(el).ColorPickerHide();
	},
	onBeforeShow: function () {
		$(this).ColorPickerSetColor(this.value);
	}
})
.bind('keyup', function(){
	$(this).ColorPickerSetColor(this.value);
});

</script>
{% endblock %}

{% block content %}

  <form class="ingest" action="" method="post" enctype="multipart/form-data"> {% csrf_token %}

	  <fieldset>
		  <legend>Input Type</legend>
		  <div id="ingest-selector-container">
			  <a href="#" class="ingest-selector selected" onclick="selectIngest(this, '#url-ingest'); return false;">
				  <img src="/media/images/process.png">
				  <h3>
					  {{ tagcloud_form.url.label }}
				  </h3>
				  <div class="detail-text">
					  {{ tagcloud_form.url.help_text }}
				  </div>    
			  </a>
			  <a href="#" class="ingest-selector" onclick="selectIngest(this, '#file-ingest'); return false;">
				  <img src="/media/images/process.png">
				  <h3>
					  {{ tagcloud_form.file.label }}
				  </h3>
				  <div class="detail-text">
					  {{ tagcloud_form.file.help_text }}
				  </div>
			  </a>
			  <a href="#" class="ingest-selector" onclick="selectIngest(this, '#text-ingest'); return false;">
				  <img src="/media/images/process.png">
				  <h3>
					  {{ tagcloud_form.body.label }}
				  </h3>
				  <div class="detail-text">
					  {{ tagcloud_form.body.help_text }}
				  </div>
			  </a>
		  </div>
		  <div id="url-ingest" class="ingest-input-container">
			  {{ tagcloud_form.url }}
		  </div>
		  <div id="file-ingest" class="ingest-input-container" style="display:none;">
			  {{ tagcloud_form.file }}
		  </div>
		  <div id="text-ingest" class="ingest-input-container" style="display:none;">
			  {{ tagcloud_form.body }} 
		  </div>
	  </fieldset>
    

  <div class="clear"></div>
  <fieldset><legend>Word Cloud Size</legend>
	 <div class="step_option_input">
        {{ tagcloud_form.width.label }}: {{ tagcloud_form.width }}
     </div>
	 <div class="step_option_help">
       {{ tagcloud_form.width.help_text }}
     </div>
	 <br>
	 <div class="step_option_input">
       {{ tagcloud_form.height.label }}: {{ tagcloud_form.height }}
     </div>
	 
	 <div class="step_option_help">
       {{ tagcloud_form.height.help_text }}
     </div>
 </fieldset>

 <fieldset><legend>Number of Words</legend>
      <div class="step_option_input">
        {{ tagcloud_form.max_words.label }}: {{ tagcloud_form.max_words }}
      </div>
      <div class="step_option_help">
        {{ tagcloud_form.max_words.help_text }}
      </div>
  </fieldset>

  <fieldset><legend>Colors</legend>
       <div class="step_option_input">
          {{ tagcloud_form.start_color.label }}: {{ tagcloud_form.start_color }}
       </div>
       <div class="step_option_help">
         {{ tagcloud_form.start_color.help_text }}
       </div>
       <br>
       <div class="step_option_input">
         {{ tagcloud_form.end_color.label }}: {{ tagcloud_form.end_color }}
       </div>
       <div class="step_option_help">
         {{ tagcloud_form.end_color.help_text }}
       </div>
       <br>
       <div class="step_option_input">
         {{ tagcloud_form.color_steps.label }}: {{ tagcloud_form.color_steps }}
       </div>
       <div class="step_option_help">
         {{ tagcloud_form.color_steps.help_text }}
       </div>
   </fieldset>

   <fieldset><legend>Advanced formatting and word handling options</legend>
       <div class="step_option_input">
         {{ tagcloud_form.strip.label }}: {{ tagcloud_form.strip }}
       </div>
       <div class="step_option_help">
         {{ tagcloud_form.strip.help_text }}
	 </div>
	 <br>
       <div class="step_option_input">
         {{ tagcloud_form.normalize.label }}: {{ tagcloud_form.normalize }}
       </div>
       <div class="step_option_help">
         {{ tagcloud_form.normalize.help_text }}
       </div>

	 <br>
       <div class="step_option_input">
         {{ tagcloud_form.remove_stopwords.label }}: {{ tagcloud_form.remove_stopwords }}
       </div>
       <div class="step_option_help">
         {{ tagcloud_form.remove_stopwords.help_text }}
       </div>

	 <br>
       <div class="step_option_input">
         {{ tagcloud_form.custom_stopwords.label }}: {{ tagcloud_form.custom_stopwords }}
       </div>
       <div class="step_option_help">
         {{ tagcloud_form.custom_stopwords.help_text }}
       </div>

	 <br>
       <div class="step_option_input">
         {{ tagcloud_form.tokenizer.label }}: {{ tagcloud_form.tokenizer }}
       </div>
       <div class="step_option_help">
         {{ tagcloud_form.tokenizer.help_text }}
       </div>

	 <br>
       <div class="step_option_input">
         {{ tagcloud_form.sort_order.label }}: {{ tagcloud_form.sort_order }}
       </div>
       <div class="step_option_help">
         {{ tagcloud_form.sort_order.help_text }}
       </div>

	 <br>
       <div class="step_option_input">
         {{ tagcloud_form.equn.label }}: {{ tagcloud_form.equn }}
       </div>
       <div class="step_option_help">
         {{ tagcloud_form.equn.help_text }}
       </div>

	 <br>
       <div class="step_option_input">
         {{ tagcloud_form.slope.label }}: {{ tagcloud_form.slope }}
       </div>
       <div class="step_option_help">
         {{ tagcloud_form.slope.help_text }}
       </div>

	 <br>
       <div class="step_option_input">
         {{ tagcloud_form.css_id.label }}: {{ tagcloud_form.css_id }}
       </div>
       <div class="step_option_help">
         {{ tagcloud_form.css_id.help_text }}
       </div>

	 <br>
       <div class="step_option_input">
         {{ tagcloud_form.css_class.label }}: {{ tagcloud_form.css_class }}
       </div>
       <div class="step_option_help">
         {{ tagcloud_form.css_class.help_text }}
       </div>

	 <br>
       <div class="step_option_input">
         {{ tagcloud_form.link_prefix.label }}: {{ tagcloud_form.link_prefix }}
       </div>
       <div class="step_option_help">
         {{ tagcloud_form.link_prefix.help_text }}
       </div>
   </fieldset>

	 <br>
	 <br>

    <button type="submit" class="ingest-submit"><h3>Create Word cloud!</h3></button>

</form>

{% endblock %}
