{% extends "frontend/base.html" %}

{% block custom_js %}
<script type="text/javascript">
window.selectIngest = function(clickedSelector, ingestInputToShow){
  // select the correct ingest-selector
  var ingestSelectors = jQuery('#ingest-selector-container').children('a.ingest-selector');
  jQuery.each(ingestSelectors, function(i, currSelector){
    if (currSelector == clickedSelector) {
      jQuery(currSelector).addClass("selected");
    } else {
      jQuery(currSelector).removeClass("selected");
    }
  });
  // Show the correct input
  var ingestInputs = ['#url-ingest', '#file-ingest', '#text-ingest'];
  jQuery.each(ingestInputs, function(i, currIngestInput){
    var shouldShow = ingestInputToShow == currIngestInput;
    jQuery(currIngestInput).toggle(shouldShow);
  });
};
</script>
{% endblock %}

{% block content %}

  <div id="ingest-selector-container">
    <a href="#" class="ingest-selector selected" onclick="selectIngest(this, '#url-ingest'); return false;">
      <img src="/media/images/process.png">
      <h3>
        {{ tagcloud_form.url.label }}
      </h3>
      <div class="detail-text">
        {{ tagcloud_form.url.help_text }}
      </div>    
    </a>
    <a href="#" class="ingest-selector" onclick="selectIngest(this, '#file-ingest'); return false;">
      <img src="/media/images/process.png">
      <h3>
        {{ tagcloud_form.file.label }}
      </h3>
      <div class="detail-text">
        {{ tagcloud_form.file.help_text }}
      </div>
    </a>
    <a href="#" class="ingest-selector" onclick="selectIngest(this, '#text-ingest'); return false;">
      <img src="/media/images/process.png">
      <h3>
        {{ tagcloud_form.body.label }}
      </h3>
      <div class="detail-text">
        {{ tagcloud_form.body.help_text }}
      </div>
    </a>
  </div>
  <form class="ingest" action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
    <div id="url-ingest" class="ingest-input-container">
      {{ tagcloud_form.url }}
    </div>
    <div id="file-ingest" class="ingest-input-container" style="display:none;">
      {{ tagcloud_form.file }}
    </div>
    <div id="text-ingest" class="ingest-input-container" style="display:none;">
      {{ tagcloud_form.body }} 
    </div>
    

    <button type="submit" class="ingest-submit"><h3>Create tag cloud!</h3></button>
  </form>

<!-- The following no longer belongs on this page. Left here for reference. -->

<div style="display: none;">
  <div class="clear"></div>
  <div id="step">
   <div id="step_option">
     <div class="step_option_title">
       Tag Cloud Size
     </div>
     <br>
     <div class="step_option_input">
        {{ tagcloud_form.width.label }}: {{ tagcloud_form.width }}
     </div>
     <div class="step_option_help">
       {{ tagcloud_form.width.help_text }}
     </div>
     <br>
     <div class="step_option_input">
       {{ tagcloud_form.height.label }}: {{ tagcloud_form.height }}
     </div>
     <div class="step_option_help">
       {{ tagcloud_form.height.help_text }}
     </div>
    </div>
    <div id="step_option">
      <div class="step_option_title">
        Text Size
      </div>
      <br>
      <div class="step_option_input">
         {{ tagcloud_form.max_size.label }}: {{ tagcloud_form.max_size }}
      </div>
      <div class="step_option_help">
        {{ tagcloud_form.max_size.help_text }}
      </div>
      <br>
      <div class="step_option_input">
        {{ tagcloud_form.min_size.label }}: {{ tagcloud_form.min_size }}
      </div>
      <div class="step_option_help">
        {{ tagcloud_form.min_size.help_text }}
      </div>
      <div class="step_option_input">
        {{ tagcloud_form.max_words.label }}: {{ tagcloud_form.max_words }}
      </div>
      <div class="step_option_help">
        {{ tagcloud_form.max_words.help_text }}
      </div>
      </div>
     <div id="step_option">
       <div class="step_option_title">
         Text Color
       </div>
       <br>
       <div class="step_option_input">
          {{ tagcloud_form.start_color.label }}: {{ tagcloud_form.start_color }}
       </div>
       <div class="step_option_help">
         {{ tagcloud_form.start_color.help_text }}
       </div>
       <br>
       <div class="step_option_input">
         {{ tagcloud_form.end_color.label }}: {{ tagcloud_form.end_color }}
       </div>
       <div class="step_option_help">
         {{ tagcloud_form.end_color.help_text }}
       </div>
       <br>
       <div class="step_option_input">
         {{ tagcloud_form.color_steps.label }}: {{ tagcloud_form.color_steps }}
       </div>
       <div class="step_option_help">
         {{ tagcloud_form.color_steps.help_text }}
       </div>
      </div>
   </div>
  <div id="step">
   <div id="step_title">
     Step 3: Create Tagcloud
   </div>
   <input type="submit" value="Create Tag Cloud">
   
  </div>
</div>


{% endblock %}
