{% block content %}

<div>
<em>Request types accepted:</em> GET, POST<br>
<em>Minimum arguments required:</em> body<br>
<em>Optional arguments:</em> tokenizer, strip, width, height, min_size, max_size<br>
Sizes are extrapolated linearly between the bounding values of min and max size<br>
<em>Defaults:</em> tokenizer splits on spaces, strip = True, width=400px, height=None, max_size=20, min_size=10.<br> 
<em>Examples:</em> <br>
<p>{{ domain }}/api/1.0/tagcloud.json?body="big lotta text here"</p>

<p></p>
</div>

<form action="tagcloudsubmit" method="post">
{{ tagcloud_form.as_p }}
<input type="submit" value="Create Tag Cloud">
</form>

{% endblock %}
